@charset "utf-8";

body {
	background-color: aqua;
}
img {
	width: 50%;
}
img:hover {
	border: dotted navy 10px;
	border-radius: 100%
}

h3 {
  letter-spacing: -2px;
	text-shadow: 2px 2px 5px navy;
	color: antiquewhite;
	text-decoration : wavy underline;
}
